# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [1]:
import pandas as pd

In [ ]:
israel_df  = pd.read_csv('./data/BR (1).csv')
us_df  = pd.read_csv('./data/USD_ILS Historical Data.csv')
exchange_df  = pd.read_csv('./data/USD_ILS Historical Data.csv')
print(israel_df.columns)
print(us_df.columns)
print(exchange_df.columns)

Index(['SERIES_CODE', 'שם סדרה', 'FREQ', 'תדירות', 'IR_FV_TYPE', 'סוג ריבית',
       'DATA_SOURCE', 'מקור נתונים', 'TIME_COLLECT', 'אופן חישוב בתקופת זמן',
       'CONF_STATUS', 'סיווג סודיות', 'UNIT_MEASURE', 'יחידות מידה',
       'UNIT_MULT', 'מכפיל יחידות', 'TIME_PERIOD', 'OBS_VALUE',
       'RELEASE_STATUS', 'שחרור תצפית'],
      dtype='object')
Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')
Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [ ]:

israel_df['Year'] = pd.to_datetime(israel_df['TIME_PERIOD']).dt.year
israel_df['Month'] = pd.to_datetime(israel_df['TIME_PERIOD']).dt.month
israel_df['Current_Rate'] = israel_df['OBS_VALUE']

israel_df = israel_df[['Year', 'Month', 'Current_Rate']]

israel_df['Change_From_Last_Month'] = israel_df['Current_Rate'].diff()
israel_df = israel_df[(israel_df['Year'] > 1993) & (israel_df['Year'] <= 2023)]


us_df['Year'] = pd.to_datetime(us_df['Date']).dt.year
us_df['Month'] = pd.to_datetime(us_df['Date']).dt.month
us_df['Current_Rate'] = us_df['Price']

us_df = us_df[['Year', 'Month', 'Current_Rate']]

us_df['Change_From_Last_Month'] = us_df['Current_Rate'].diff()
us_df = us_df[(us_df['Year'] > 1993) & (us_df['Year'] <= 2023)]


exchange_df['Year'] = pd.to_datetime(exchange_df['Date']).dt.year
exchange_df['Month'] = pd.to_datetime(exchange_df['Date']).dt.month
exchange_df['Current_Rate'] = exchange_df['Price']

exchange_df = exchange_df[['Year', 'Month', 'Current_Rate']]

exchange_df['Change_From_Last_Month'] = exchange_df['Current_Rate'].diff()
exchange_df = exchange_df[(exchange_df['Year'] > 1993) & (exchange_df['Year'] <= 2023)]

Index(['Year', 'Month', 'Current_Rate', 'Change_From_Last_Month'], dtype='object')

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [ ]:
# A - 1
first_five_rows = us_df.head(5)
first_five_rows

<bound method DataFrame.any of Empty DataFrame
Columns: [Year, Month, Current_Rate, Change_From_Last_Month]
Index: []>

In [ ]:
# A - 2
average_interest_rate =israel_df ['Current_Rate'].mean()
print(" average interest:", average_interest_rate)

 average_interest: 4.880738267313146

In [ ]:
# A - 3
highest_increase_index = exchange_df['Change_From_Last_Month'].idxmax()
highest_increase_row = exchange_df.loc[highest_increase_index, ['Year', 'Month', 'Change_From_Last_Month']]

print(highest_increase_row)

Year                      2023.0000
Month                       10.0000
Change_From_Last_Month       0.3138
Name: 13, dtype: float64

In [26]:
# A - 4
decrease_count = (us_df['Change_From_Last_Month'] < 0).sum()

print(f"The total number of months with a decrease in US interest rate is {decrease_count}.")

The total number of months with a decrease in US interest rate is 7.

In [13]:
# A - 5
israel_df['Change_Percentage'] = (israel_df['Change_From_Last_Month'] / israel_df['Current_Rate'].shift(1)) * 100


print(israel_df.head(20))

    Year  Month  Current_Rate  Change_From_Last_Month  Change_Percentage
0   1994      1          10.5                     NaN                NaN
1   1994      1          10.5                     0.0                0.0
2   1994      1          10.5                     0.0                0.0
3   1994      1          10.5                     0.0                0.0
4   1994      1          10.5                     0.0                0.0
5   1994      2          10.5                     0.0                0.0
6   1994      2          10.5                     0.0                0.0
7   1994      2          10.5                     0.0                0.0
8   1994      2          10.5                     0.0                0.0
9   1994      2          10.5                     0.0                0.0
10  1994      2          10.5                     0.0                0.0
11  1994      2          10.5                     0.0                0.0
12  1994      2          10.5                     0.0                0.0
13  1994      2          10.5                     0.0                0.0
14  1994      2          10.5                     0.0                0.0
15  1994      2          10.5                     0.0                0.0
16  1994      2          10.5                     0.0                0.0
17  1994      2          10.5                     0.0                0.0
18  1994      2          10.5                     0.0                0.0
19  1994      2          10.5                     0.0                0.0

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [31]:
# B - 1
merged_df = pd.merge(us_df, israel_df, on=['Year', 'Month'], suffixes=('_US', '_Israel'))
merged_df

,Year,Month,Current_Rate_US,Change_From_Last_Month_US,Current_Rate_Israel,Change_From_Last_Month_Israel,Change_Percentage
0,2023,12,3.6008,-0.0368,4.75,0.0,0.0
1,2023,12,3.6008,-0.0368,4.75,0.0,0.0
2,2023,12,3.6008,-0.0368,4.75,0.0,0.0
3,2023,12,3.6008,-0.0368,4.75,0.0,0.0
4,2023,12,3.6008,-0.0368,4.75,0.0,0.0
...,...,...,...,...,...,...,...
391,2022,12,3.5177,0.0685,3.25,0.0,0.0
392,2022,12,3.5177,0.0685,3.25,0.0,0.0
393,2022,12,3.5177,0.0685,3.25,0.0,0.0
394,2022,12,3.5177,0.0685,3.25,0.0,0.0
395,2022,12,3.5177,0.0685,3.25,0.0,0.0

In [32]:
# B - 2
merged_df['Rate_Difference'] = merged_df['Current_Rate_Israel'] - merged_df['Current_Rate_US']
merged_df

,Year,Month,Current_Rate_US,Change_From_Last_Month_US,Current_Rate_Israel,Change_From_Last_Month_Israel,Change_Percentage,Rate_Difference
0,2023,12,3.6008,-0.0368,4.75,0.0,0.0,1.1492
1,2023,12,3.6008,-0.0368,4.75,0.0,0.0,1.1492
2,2023,12,3.6008,-0.0368,4.75,0.0,0.0,1.1492
3,2023,12,3.6008,-0.0368,4.75,0.0,0.0,1.1492
4,2023,12,3.6008,-0.0368,4.75,0.0,0.0,1.1492
...,...,...,...,...,...,...,...,...
391,2022,12,3.5177,0.0685,3.25,0.0,0.0,-0.2677
392,2022,12,3.5177,0.0685,3.25,0.0,0.0,-0.2677
393,2022,12,3.5177,0.0685,3.25,0.0,0.0,-0.2677
394,2022,12,3.5177,0.0685,3.25,0.0,0.0,-0.2677
395,2022,12,3.5177,0.0685,3.25,0.0,0.0,-0.2677

In [ ]:
# B - 3
import numpy as np
conditions = [
    (merged_df['Rate_Difference'] >= 1),
    (merged_df['Rate_Difference'] <= -1)
]
choices = ['IH', 'UH']

merged_df['Rate_Comparison'] = np.select(conditions, choices, default='N')

   Year  Month  Rate_Difference Rate_Comparison
0  2023     12           1.1492              IH
1  2023     12           1.1492              IH
2  2023     12           1.1492              IH
3  2023     12           1.1492              IH
4  2023     12           1.1492              IH

In [37]:
# B - 4
final_df = pd.merge(merged_df, exchange_df[['Year', 'Month', 'Current_Rate']], on=['Year', 'Month'], how='inner', suffixes=('', '_Exchange'))
print(final_df.head())

   Year  Month  Current_Rate_US  Change_From_Last_Month_US  \
0  2023     12           3.6008                    -0.0368
1  2023     12           3.6008                    -0.0368
2  2023     12           3.6008                    -0.0368
3  2023     12           3.6008                    -0.0368
4  2023     12           3.6008                    -0.0368

   Current_Rate_Israel  Change_From_Last_Month_Israel  Change_Percentage  \
0                 4.75                            0.0                0.0
1                 4.75                            0.0                0.0
2                 4.75                            0.0                0.0
3                 4.75                            0.0                0.0
4                 4.75                            0.0                0.0

   Rate_Difference Rate_Comparison  Current_Rate
0           1.1492              IH        3.6008
1           1.1492              IH        3.6008
2           1.1492              IH        3.6008
3           1.1492              IH        3.6008
4           1.1492              IH        3.6008

In [ ]:
# B - 5
correlation = final_df[['Rate_Difference', 'Current_Rate']].corr().iloc[0, 1]
print("Correlation:", correlation)

Correlation between Rate_Difference and USD to ILS exchange rate: 0.4321405970344256

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here